!!! 5
html
  head
    title SimplePay - #{title}
    meta(http-equiv="content-type",charset='utf-8',content='text/html')

    meta(property='og:title', content='SimplePay - ' + title)
    meta(property='og:description', content=description)
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://simplepay.dk/assets/img/cardcloud.png')
    meta(property='og:url', content='http://simplepay.dk')

    link(href="https://fonts.googleapis.com/css?family=Open+Sans",rel="stylesheet", type="text/css")
    link(type="text/css", rel="stylesheet", href="assets/css/bootstrap.css", media="all")
    link(type="text/css", rel="stylesheet", href="assets/css/styles.css", media="all")
    
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type="text/javascript", src="assets/js/application.js")

    script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34087976-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    .container.simplepay(style="padding-top:80px")
      .row
        .brand.span12 simple
          span.blue pay
            
      .row
        .span12.box
          .row
            .span5.logo-cloud &nbsp
            .span6.title
              h1= title
              br
              | !{text1}
              br
              br
              | !{text2}
              br
              br
              form#email-form
                .input-append
                  input(type="text", id="email-address", name="email", placeholder=example)
                  button.btn(id="email-address-button") #{button}
             

      .row 
        .span12
          span.footnote.padding-left
            a(href="mailto:contact@simplepay.dk") #{contact}
            | &nbsp;|&nbsp;
          g:plusone(size="small", annotation="none")

          span.footnote.padding-right.pull-right © SimplePay
             
       
        script(type="text/javascript")
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
